html, body {
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  font-size: 19px;
  line-height: 1.6;
  color: #333;
}

p, ul {
  font-family: "Noto Serif", "Georgia", serif;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a {
  color: #83bf33;
}

a:hover {
  color: #fff;
  background: #83bf33;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: 400;
}
@media (min-width: 768px) {
  h1 {
    font-size: 48px;
  }
}

h1 small {
  font-size: 55%;
  color: rgba(255, 255, 255, 0.8);
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
  margin-top: 40px;
  margin-bottom: 0;
  position: sticky;
  top: -1px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
 @media (min-width: 768px) {
  h2 {
    font-size: 26px;
  }
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 40px;
}

footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  font-size: 14px;
  text-align: center;
}

figure {
  width: min-content;
}

figcaption {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}

li {
  list-style-type: circle;
}

::placeholder {
  color: #ddd;
}

.nav {
  display: flex;
  background: #83bf33;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.nav-header {
  font-size: 22px;
  flex: 1;
}

.nav-header a {
  color: #fff;
  text-decoration: none;
}

.nav-header span {
  font-family: "Noto Serif", "Georgia", serif;
  font-size: 19px;
}

.nav-back {
  font-size: 16px;
  padding-top: 5px;
  padding-right: 15px;
}

.nav-back a {
  color: #fff;
  text-decoration: none;
}

.nav-back a:hover {
  text-decoration: underline;
}

.container {
  max-width: 780px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container-content-header {
  background: #83bf33;
}

.container-content-header-content {
  max-width: 780px;
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-bottom: 30px;
}

.container-content-header-content-subtitle {
  color: #fff;
}

.container-content-header h1 {
  margin-top: 0;
  color: #fff;
}

.container-content-header-content a {
  color: #fff;
}

.container-content-body {
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
}

.container-content-body {
  margin-top: 40px;
}

.post {
  background: #efefef;
  line-height: 2;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #555;
}

.post a {
  white-space: nowrap;
  background: #83bf33;
  margin: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  text-decoration: none;
  box-shadow: inset 0 -10px 20px -10px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #5a8323;
  transition: 0.1s;
}

.post a:hover {
  background: #75ab2e;
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
@media (min-width: 580px) {
  .categories {
    flex-direction: row;
  }
}

.categories-single {
  color: #333;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.categories-single > a {
  color: #333;
  text-decoration: none;
}

.categories-single > a:hover {
  color: #fff;
  background: #83bf33;
}

.categories-single::before {
  content: "# ";
  color: #888;
}

.listings {
  padding-left: 10px;
  padding-right: 10px;
}

.listings-entry {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.listings-entry:hover {
  background: #efefef;
  color: #333;
}

.listings-entry-detail {
  flex: 1;
}

.listings-entry-detail-info {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.listings-entry-detail-info:hover {
  background: #efefef;
  color: #333;
}

.listings-entry-detail-info-title {
  flex: 1 1 auto;
  text-decoration: none;
  color: #333;
  font-size: 17px;
}
@media (min-width: 768px) {
  .listings-entry-detail-info-title {
    font-size: 20px;
  }
}

.listings-entry-detail-info-title:hover {
  background: inherit;
  color: inherit;
}

.muted {
  color: #aaa;
}

.listings-entry-detail-info-title-company {
  font-family: "Roboto Slab";
}

.listings-entry-detail-info-tags {
  text-align: right;
}

.listings-entry-detail-info-tags-single {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
@media (min-width: 768px) {
  .tags-single {
    font-size: 13px;
  }
}

.empty {
  font-size: 17px;
}
@media (min-width: 768px) {
  .empty {
    font-size: 19px;
  }
}

.listings-entry-control {
  margin-right: 10px;
  margin-top: 1px;
}

.listings-entry-control-check {
  width: 12px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.listings-entry-control-check:hover {
  font-weight: 700;
  color: #83bf33;
}

.company-figure {
  float: right;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 0;
}

.company-logo {
  border-bottom: 1px solid #ddd;
  width: 300px;
  max-height: 300px;
}

.details-single {
  display: flex;
}

.details-single-content {
  display: flex;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #83bf33;
  padding-right: 12px;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .details-single {
    font-size: 19px;
  }
}

.details-single-content-title {
  background: #83bf33;
  color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .details-single-content-title {
    padding-left: 10px;
  }
}

.details-single-content-body {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 2px;
  padding-right: 2px;
}

.apply {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #83bf33;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
}
@media (min-width: 768px) {
  .apply {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 24px;
  }
}

.submit-item {
  margin-bottom: 20px;
}

.submit-item > label {
  display: inline-block;
  width: 20%;
  text-align: right;
  font-weight: 600;
  line-height: 1.7;
  margin-right: 10px;
  vertical-align: top;
}

.submit-item > input[type="text"],
.submit-item > input[type="url"],
.submit-item > input[type="email"] {
  display: inline-block;
  width: 40%;
  color: #333;
  line-height: 1.7;
  padding-left: 9px;
  border: 1px solid #ddd;
}

.submit-item > input[type="text"]:focus,
.submit-item > input[type="url"]:focus,
.submit-item > input[type="email"]:focus {
  border: 1px solid #aaa;
  outline: none;
}

.submit-item > textarea {
  display: inline-block;
  color: #333;
  line-height: 1.7;
  padding-left: 9px;
  border: 1px solid #ddd;
}

.submit-item > textarea:focus {
  border: 1px solid #aaa;
  outline: none;
}

.submit-item > input[type="number"] {
  display: inline-block;
  width: 10%;
  outline: 0;
  color: #333;
  line-height: 1.7;
  padding-left: 9px;
  border: 1px solid #ddd;
}

.submit-item > select {
  width: 42%;
  outline: none;
  color: #333;
  border: 1px solid #ddd;
}

.submit-item-help {
  margin-top: 4px;
  font-size: 16px;
  margin-left: 22%;
}

.submit-button {
  text-align: center;
  margin-top: 60px;
}

.submit-button > input[type="submit"] {
  cursor: pointer;
  border: none;
  background: #83bf33;
  color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 9px;
  padding-bottom: 7px;
  box-shadow: inset 0 -10px 20px -10px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #5a8323;
  transition: 0.1s;
}

.submit-button > input[type="submit"]:hover {
  background: #75ab2e;
}

.pay {
  padding-top: 40px;
}

.pay-btn {
  cursor: pointer;
  border: none;
  background: #83bf33;
  outline: 0;
  color: #fff;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 9px;
  padding-bottom: 7px;
  box-shadow: inset 0 -10px 20px -10px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #5a8323;
  transition: 0.1s;
}

.pay-btn:hover {
  background: #75ab2e;
}

.thank-video {
  margin-top: 20px;
}

label[for="id_company_desc"],
label[for="id_role_desc"] {
  margin-top: 30px;
}

.editor-wrapper_id_company_desc,
.editor-wrapper_id_role_desc {
  display: inline-block;
  width: 530px;
}

.editor_id_company_desc,
.editor_id_role_desc {
  border: 1px solid #ddd;
  display: inline-block;
  outline: 0;
  width: 98%;
  overflow: auto;
  padding-left: 9px;
  padding-top: 3px;
}

.editor_id_company_desc:focus,
.editor_id_role_desc:focus {
  border-color: #aaa;
}

.editor_id_company_desc {
  height: 100px;
}

.editor_id_role_desc {
  height: 300px;
}

.action-bar_id_company_desc,
.action-bar_id_role_desc {
  margin-bottom: 4px;
  text-align: right;
}

.editor-button {
  cursor: pointer;
  background: transparent;
  outline: 0;
  border: 1px solid #ddd;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 14px;
  margin-left: 7px;
}
