html, body {
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  font-size: 19px;
  line-height: 1.6;
  color: #333;
}

p, ul {
  font-family: "Noto Serif", Georgia, serif;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a {
  color: #83bf33;
}

a:hover {
  color: #fff;
  background: #83bf33;
  text-decoration: none;
}

::placeholder {
  color: #ddd;
}

.jumbotron-frontpage {
  background: #83bf34;
  background: linear-gradient(120deg, #dce35b, #45b649);
  box-shadow: inset 0 0 300px 100px rgba(0, 0, 0, 0.1);
}

.title {
  padding-top: 100px;
  padding-bottom: 80px;
}

.title h1 {
  font-size: 90px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
  line-height: 1;
  margin-bottom: 20px;
}

.separator {
  border-top: 1px solid #fff;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  color: #fff;
  font-size: 26px;
  text-align: center;
  text-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}

.post {
  background: #efefef;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  text-align: center;
  color: #555;
}

.post a {
  background: #83bf33;
  margin: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  text-decoration: none;
  box-shadow: inset 0 -10px 20px -10px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #5a8323;
  transition: 0.1s;
}

.post a:hover {
  background: #75ab2e;
}

.categories {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.categories-single {
  color: #333;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.categories-single > a {
  color: #333;
  text-decoration: none;
}

.categories-single > a:hover {
  color: #fff;
  background: #83bf33;
}

.categories-single::before {
  content: "# ";
  color: #888;
}

.listings-section-link {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

.listings-section-link-item {
  border-bottom: 1px solid #ddd;
  padding-top: 5px;
  padding-bottom: 5px;
}

.listings-section-link-item:hover {
  background: #efefef;
  color: #333;
}

.muted {
  color: #aaa;
}

.company-name {
  font-family: "Roboto Slab";
}

.tags {
  float: right;
  position: relative;
  top: -3px;
}

.tags-single {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.jumbotron {
  background: #83bf34;
  background: linear-gradient(120deg, #dce35b, #45b649);
  box-shadow: inset 0 0 300px 100px rgba(0, 0, 0, 0.1);
  color: #fff;
  padding-top: 15px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.jumbotron a {
  color: #fff;
}

.jumbotron a:hover {
  background: #fff;
  color: #83bf33;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 400;
}

h1 small {
  font-size: 55%;
  color: rgba(255, 255, 255, 0.8);
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 26px;
  margin-top: 40px;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 40px;
}

.container {
  width: 780px;
  margin: auto;
}

.back {
  font-size: 16px;
  text-align: right;
}

.header {
  margin-top: 70px;
  padding-bottom: 20px;
}

.company-figure {
  float: right;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 0;
}

.company-logo {
  border-bottom: 1px solid #ddd;
  width: 300px;
  max-height: 300px;
}

figure {
  width: min-content;
}

figcaption {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}

li {
  list-style-type: circle;
}

.details-single {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #83bf33;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 12px;
  border-radius: 3px;
}

.details-single > span {
  background: #83bf33;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

.apply {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid #83bf33;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 24px;
}

.submit-item {
  margin-bottom: 20px;
}

.submit-item > label {
  display: inline-block;
  width: 20%;
  text-align: right;
  font-weight: 600;
  line-height: 1.7;
  margin-right: 10px;
  vertical-align: top;
}

.submit-item > input[type="text"] {
  display: inline-block;
  width: 40%;
  color: #333;
  line-height: 1.7;
  padding-left: 9px;
  border: 1px solid #ddd;
}

.submit-item > input[type="text"]:focus {
  border: 1px solid #aaa;
  outline: none;
}

.submit-item > input[type="url"] {
  display: inline-block;
  width: 40%;
  color: #333;
  line-height: 1.7;
  padding-left: 9px;
  border: 1px solid #ddd;
}

.submit-item > input[type="url"]:focus {
  border: 1px solid #aaa;
  outline: none;
}

.submit-item > textarea {
  display: inline-block;
  color: #333;
  line-height: 1.7;
  padding-left: 9px;
  border: 1px solid #ddd;
}

.submit-item > textarea:focus {
  border: 1px solid #aaa;
  outline: none;
}

.submit-item > input[type="number"] {
  display: inline-block;
  width: 10%;
  outline: 0;
  color: #333;
  line-height: 1.7;
  padding-left: 9px;
  border: 1px solid #ddd;
}

.submit-item > select {
  width: 42%;
  outline: none;
  color: #333;
  border: 1px solid #ddd;
}

.submit-item-help {
  margin-top: 4px;
  font-size: 16px;
  margin-left: 22%;
}

.submit-button {
  text-align: center;
  margin-top: 60px;
}

.submit-button > input[type="submit"] {
  cursor: pointer;
  border: none;
  background: #83bf33;
  color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 9px;
  padding-bottom: 7px;
  box-shadow: inset 0 -10px 20px -10px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #5a8323;
  transition: 0.1s;
}

.submit-button > input[type="submit"]:hover {
  background: #75ab2e;
}

label[for="id_company_desc"],
label[for="id_role_desc"] {
  margin-top: 30px;
}

.editor-wrapper_id_company_desc,
.editor-wrapper_id_role_desc {
  display: inline-block;
  width: 530px;
}

.editor_id_company_desc,
.editor_id_role_desc {
  border: 1px solid #ddd;
  display: inline-block;
  outline: 0;
  width: 98%;
  overflow: auto;
  padding-left: 9px;
}

.editor_id_company_desc:focus,
.editor_id_role_desc:focus {
  border-color: #aaa;
}

.editor_id_company_desc {
  height: 100px;
}

.editor_id_role_desc {
  height: 300px;
}

.action-bar_id_company_desc,
.action-bar_id_role_desc {
  margin-bottom: 4px;
  text-align: right;
}

.editor-button {
  cursor: pointer;
  background: transparent;
  outline: 0;
  border: 1px solid #ddd;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 14px;
  margin-left: 7px;
}

footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  font-size: 14px;
  text-align: center;
}
