{% extends 'main/layout.html' %}

{% block content %}
    <div class="header">
        <div class="header-copy">
            <h1>About</h1>
        </div>
    </div>

    <div class="about">
        <p>
            Avocado Jobs is a simple tool made exclusively for software people.
        </p>

        <p>
            Neither hiring nor choosing a company are easy tasks for software companies
            and software engineers respectively. It is common for candidates to apply
            to over 100 roles, thus keeping track of all this information is mandatory
            for sanity maintenance. Avocado Jobs does exactly that; it enables you to
            keep track of all the roles you have applied as a job seeking individual.
            Furthermore, it provides you with extra functionality to aid in the data
            manipulation.
        </p>

        <br>

        <strong>Privacy statement</strong>
        <p>
            Data that is provided to Avocado Jobs by its users is transported exclusively
            via HTTP using strong encryption. The server of avocadojobs.com is located
            in New Jersey, US and the database is backed up on a daily basis in Oregon, US.
            Users' data will never be sold, donated, or become accessible by any third
            parties. Finally, Avocado Jobs does not track its users across the web.
        </p>

        <br>

        <p>
            Avocado Jobs is developed by <a href="https://sirodoht.xyz/" target="_blank">Theodore Keloglou</a>.
        </p>
    </div>
{% endblock %}
