{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
    <div class="container-content-header">
        <div class="container-content-header-content">
            <h1>Job listing submissions</h1>
        </div>
    </div>

    <div class="container-content-body">
        <div class="listings">
            {% for listing in application_listings %}
                <div class="listings-entry">
                    <div class="listings-entry-detail">
                        <div class="listings-entry-detail-info">
                            <a class="listings-entry-detail-info-title"  href="{% url 'main:detail' listing.id %}" data-id="{{ listing.id }}">
                                <strong>{{ listing.role_title }}</strong>
                                <span class="muted">at</span>
                                <span class="listings-entry-detail-info-title-company">{{ listing.company_name }}</span>
                            </a>
                            <div class="listings-entry-detail-info-tags">
                                {% for tag in listing.tag_set.all %}
                                    <div class="listings-entry-detail-info-tags-single">{{ tag }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="listings-entry-control">
                        {% csrf_token %}
                        <div class="listings-entry-control-delete" title="Remove listing from applications" data-id="{{ listing.id }}" onclick="removeApplication(event)">Remove</div>
                    </div>
                </div>
            {% empty %}
                <div class="empty">
                    You have not checked off any listings.
                    You can do that by clicking the circle on the right of every
                    listing line on the <a href="{% url 'main:index' %}">frontpage</a>.
                </div>
            {% endfor %}
        </div>

        <footer>
            <p>Avocado Jobs. Contact <a href="mailto:hi@avocadojobs.com">here</a>.</p>
        </footer>
    </div>

    <script src="{% static '/main/superagent.min.js' %}"></script>
    <script>
        function removeApplication(event) {
            event.preventDefault();

            if (!window.confirm('Are you sure you want to remove listing application?')) {
                return;
            }

            var inputElems = document.querySelectorAll('input');
            var csrfToken = '';
            for (i = 0; i < inputElems.length; ++i) {
                if (inputElems[i].name === 'csrfmiddlewaretoken') {
                    csrfToken = inputElems[i].value;
                    break;
                }
            }

            var idForDeletion = event.target.dataset.id;
            superagent.post('/applications/' + idForDeletion + '/delete/')
                .set('X-CSRFToken', csrfToken)
                .end(function (err, res) {
                    if (err) {
                        console.log('Error at deletion:', err);
                    } else {
                        document.location.reload();
                    }
                });
        }
    </script>
{% endblock %}
