{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
    <div class="container-content-add" id="header-add">
        <div class="container-content-add-content">
            <div class="container-content-add-content-title">
                Add new job application
            </div>
            <div class="container-content-add-content-body">
                <div class="container-content-add-content-body-row">
                    <input type="text" name="role" id="add-role" placeholder="Frontend Developer">
                    <span>at</span>
                    <input type="text" name="company" id="add-company" placeholder="Avocado Jobs, Inc.">
                </div>
                <div class="container-content-add-content-body-row">
                    <input type="text" name="salary" id="add-salary" placeholder="$100k">
                    <select name="stage" id="add-stage">
                        <option value="initial">No initial response yet</option>
                        <option value="need">I need to respond</option>
                        <option value="await">Awaiting response</option>
                        <option value="scheduled">Interview scheduled</option>
                        <option value="offer">Got offer</option>
                        <option value="declined">Declined</option>
                        <option value="rejected">Got Rejected</option>
                    </select>
                    <input type="date" id="add-date" value="{{ today|date:"Y-m-d" }}">
                </div>
                <div class="container-content-add-content-body-row">
                    <input type="text" name="link" id="add-link" placeholder="https://careers.avocadojobs.com/frontend-dev-8dbgf8">
                </div>
                <div class="container-content-add-content-body-row">
                    <button class="btn-negative" onclick="addApplication()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-content-header" id="header-normal">
        <div class="container-content-header-content" title="Say goodbye to the dreaded spreadsheet">
            <h1>Keep track of your job applications</h1>
        </div>
    </div>

    <div class="container-content-body">
        {% if messages %}
            <p class="alert">
                {% for message in messages %}
                    {{ message }}
                    <br>
                {% endfor %}
            </p>
        {% endif %}

        <div class="listings">
            {% if user.is_authenticated %}
                {% csrf_token %}
            {% endif %}
            {% for application in applications_list %}
                <div class="listings-entry">
                    <div class="listings-entry-detail">
                        <div class="listings-entry-detail-info">
                            <a class="listings-entry-detail-info-title" href="{{ application.link }}">
                                <strong>{{ application.role }}</strong>
                                <span class="muted">at</span>
                                <span class="listings-entry-detail-info-title-company">{{ application.company }}</span>
                                <span class="listings-entry-detail-info-title-date" title="Date applied">{{ application.date_applied|date:"M j" }}</span>
                            </a>
                            <div class="listings-entry-detail-info-salary" id="here" data-id="{{ application.id }}" contenteditable="true" title="Salary">{{ application.salary }}</div>
                            <div class="listings-entry-detail-info-stage" data-id="{{ application.id }}" title="Current interview stage">
                                <select name="stage" class="submission-stage">
                                    <option {% if application.stage == 'initial' %}selected{% endif %} value="initial">No initial response yet</option>
                                    <option {% if application.stage == 'need' %}selected{% endif %} value="need">I need to respond</option>
                                    <option {% if application.stage == 'await' %}selected{% endif %} value="await">Awaiting response</option>
                                    <option {% if application.stage == 'scheduled' %}selected{% endif %} value="scheduled">Interview scheduled</option>
                                    <option {% if application.stage == 'offer' %}selected{% endif %} value="offer">Got offer</option>
                                    <option {% if application.stage == 'declined' %}selected{% endif %} value="declined">Declined</option>
                                    <option {% if application.stage == 'rejected' %}selected{% endif %} value="rejected">Got Rejected</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="listings-entry-control">
                        <div class="listings-entry-control-rm" title="Remove job application" data-id="{{ application.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-linecap="round" onclick="removeApplication(event)">
                                <line x1="18" y1="6" x2="6" y2="18"></line>
                                <line x1="6" y1="6" x2="18" y2="18"></line>
                            </svg>
                        </div>
                    </div>
                </div>
            {% empty %}
                {% if user.is_authenticated %}
                    <div class="empty">
                        There are no job applications.
                        <br>
                        You can add a new one by click clicking the button at the top.
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if not user.is_authenticated %}
            <div class="reset">
                <div class="reset-content" title="Reset demo data to their initial values" onclick="resetApplications()">Reset demo data</div>
            </div>
        {% endif %}
    </div>

    <div class="container-content-spinner">
        <div class="spinner" id="loading" title="Saving..."></div>
    </div>
{% endblock %}
