{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
    <div class="container-content-header">
        <div class="container-content-header-content">
            <h1>Job applications</h1>
        </div>
    </div>

    <div class="container-content-body">
        <div class="listings">
            {% csrf_token %}
            {% for application in applications_list %}
                <div class="listings-entry">
                    <div class="listings-entry-detail">
                        <div class="listings-entry-detail-info">
                            <a class="listings-entry-detail-info-title"  href="{% url 'main:detail' application.listing.id %}">
                                <strong>{{ application.listing.role_title }}</strong>
                                <span class="muted">at</span>
                                <span class="listings-entry-detail-info-title-company">{{ application.listing.company_name }}</span>
                            </a>
                            <div class="listings-entry-detail-info-stage" data-id="{{ application.listing.id }}">
                                <select name="stage" class="submission-stage">
                                    <option {% if application.stage == 'INITIAL' %}selected{% endif %} value="initial">No initial response yet</option>
                                    <option {% if application.stage == 'NEED' %}selected{% endif %} value="need">I need to respond</option>
                                    <option {% if application.stage == 'AWAIT' %}selected{% endif %} value="await">Awaiting response</option>
                                    <option {% if application.stage == 'SCHEDULED' %}selected{% endif %} value="scheduled">Interview scheduled</option>
                                    <option {% if application.stage == 'OFFER' %}selected{% endif %} value="offer">Got offer</option>
                                    <option {% if application.stage == 'DECLINED' %}selected{% endif %} value="declined">Declined</option>
                                    <option {% if application.stage == 'REJECTED' %}selected{% endif %} value="rejected">Got Rejected</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="listings-entry-control">
                        <div class="listings-entry-control-rm" title="Remove listing from applications" data-id="{{ listing.id }}" onclick="removeApplication(event)">rm</div>
                    </div>
                </div>
            {% empty %}
                <div class="empty">
                    You have not checked off any listings.
                    You can do that by clicking the circle on the right of every
                    listing line on the <a href="{% url 'main:index' %}">frontpage</a>.
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static '/main/superagent.min.js' %}"></script>
    <script>
        // get csrf from the html
        function getCsrf() {
            var inputElems = document.querySelectorAll('input');
            var csrfToken = '';
            for (i = 0; i < inputElems.length; ++i) {
                if (inputElems[i].name === 'csrfmiddlewaretoken') {
                    csrfToken = inputElems[i].value;
                    break;
                }
            }
            return csrfToken;
        };

        // remove application from user's
        function removeApplication(event) {
            event.preventDefault();

            if (!window.confirm('Are you sure you want to remove listing application?')) {
                return;
            }

            var inputElems = document.querySelectorAll('input');
            var csrfToken = getCsrf();

            var idForDeletion = event.target.dataset.id;
            superagent.post('/applications/' + idForDeletion + '/delete/')
                .set('X-CSRFToken', csrfToken)
                .end(function (err, res) {
                    if (err) {
                        console.log('Error at deletion:', err);
                    } else {
                        document.location.reload();
                    }
                });
        }

        function changeStageListen(event) {
            var csrfToken = getCsrf();
            var listingId = event.target.parentElement.dataset.id;
            var newStage = event.target.value;
            superagent.patch('/applications/')
                .send({
                    'listing_id': listingId,
                    'stage': newStage,
                })
                .set('X-CSRFToken', csrfToken)
                .end(function superagentEndCallback(err, res) {
                    if (err) {
                        console.log('Failed to update application stage. Error:', err);
                    }
                });
        }

        function initApplicationStage() {
            // add event listeners to select elems
            var stageSelectElems = document.getElementsByClassName('submission-stage');
            var i = 0;
            for (i = 0; i < stageSelectElems.length; i++) {
                stageSelectElems[i].addEventListener('change', changeStageListen);
            }
        }
        initApplicationStage()
    </script>
{% endblock %}
