{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
    <div class="header extended">
        <div class="header-copy small">
            <h1>Job Posting Payment</h1>
        </div>
    </div>

    <div class="boardpayment">
        <div class="boardpayment-content">
            {% if False %}
                <div class="boardpayment-alert">
                    {{ error|linebreaks }}
                </div>
            {% else %}
                {% csrf_token %}
                <div class="boardpayment-error hide" id="error-{{ listing_id }}">
                    There was an error with this payment.
                    Please contact us at
                    <a href="mailto:hi@avocadojobs.com">hi@avocadojobs.com</a>
                    or at
                    <a href="https://twitter.com/AvocadoJobs">@AvocadoJobs</a> on Twitter.
                </div>
                <div class="boardpayment-address">
                    Send 0.05 ETH at the following address to pay for your posting.
                    <pre><code>{{ address }}</code></pre>
                </div>
                <p>Keep this page open. Once the transaction is verified we will approve your posting for <em>{{ listing_title }}</em>.</p>
                <p>PS. You can send this page to anyone you want them to pay for the job posting.</p>
                <div class="boardpayment-powered">
                    Powered by Etherscan.io APIs
                </div>
            {% endif %}

        </div>
    </div>

    <script src="{% static '/main/scripts/axios.min.js' %}"></script>
    <script>
        window.onbeforeunload = function confirmExit() {
            return 'If you have send ETH on the address of this page we will not be able to verify it unless you keep this page open.';
        };

        function getCsrf() {
            var inputElems = document.querySelectorAll('input');
            var csrfToken = '';
            var i = 0;
            for (i = 0; i < inputElems.length; i++) {
                if (inputElems[i].name === 'csrfmiddlewaretoken') {
                    csrfToken = inputElems[i].value;
                    break;
                }
            }
            return csrfToken;
        }

        function verifyCheck() {
            var address = '{{ address }}';
            var listing_id = '{{ listing_id }}';
            var url = '/board/payment/' + listing_id + '/';
            axios
                .post(url, {
                    address: address,
                }, {
                    headers: {
                      'X-CSRFToken': getCsrf(),
                    }
                })
                .then(function (res) {
                    if (res.status === 200) {
                        window.location.reload();
                    }
                })
                .catch(function (err) {
                    if (err) {
                        document.getElementById('error-' + listing_id).classList.remove('hide');
                    }
                    console.log('Error verifying payment ' + listing_id, err);
                    console.log('Please contact us at hi@avocadojobs.com or at @AvocadoJobs on Twitter.');
                    throw err;
                });
        }

        function poll() {
            setInterval(verifyCheck, 30 * 1000);
        }

        poll();
    </script>
{% endblock %}
