{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Avocado Job Board | Job postings for the cryptoliterate companies{% endblock %}

{% block content %}
    <div class="header extended">
        <div class="header-copy extended">
            <h1>Find your next software <span>job</span> position</h1>
        </div>
    </div>

    <div class="board">
        <div class="board-header" id="board-header-track">
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                    <br>
                {% endfor %}
            {% else %}
                Tip: Click on the avocado on the left of each job to track it on your applications
            {% endif %}
        </div>

        {% csrf_token %}

        {% for item in listings %}
            <div class="board-item">
                <div class="board-item-icon">
                    <img src="{% static '/main/images/avocado-icon.svg' %}" alt="avocado icon" width="30" id="track-{{ item.id }}">
                </div>
                <div class="board-item-content">
                    <div class="board-item-content-title">
                    <strong>{{ item.role_title }}</strong> at <a href="{{ item.company_url }}" target="_blank">{{ item.company_name }}</a>
                    </div>
                    <div class="board-item-content-description">
                        <div class="board-item-content-description-location">{{ item.location }}</div>
                        <div class="board-item-content-description-salary">Salary: {{ item.salary }}</div>
                        <div class="board-item-content-description-tags">
                            {% for tag in item.tag_set.all %}
                                <div class="board-item-content-description-tags-single">#{{ tag }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="board-item-cta">
                    <a href="{% if '@' in item.application_link %} mailto:{{ item.application_link }} {% else %} {{ item.application_link }} {% endif %}" class="board-item-cta-btn">
                        Apply&nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="15">
                            <path d="M16 11v6a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h6M13 1h6v6M8 12L19 1" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="{% static '/main/scripts/axios.min.js' %}"></script>
    <script>
        function getCsrf() {
            var inputElems = document.querySelectorAll('input');
            var csrfToken = '';
            var i = 0;
            for (i = 0; i < inputElems.length; i++) {
                if (inputElems[i].name === 'csrfmiddlewaretoken') {
                    csrfToken = inputElems[i].value;
                    break;
                }
            }
            return csrfToken;
        }

        function init() {
            var iconElems = document.getElementsByClassName('board-item-icon');
            var i = 0;
            for (i = 0; i < iconElems.length; i++) {
                iconElems[i].children[0].addEventListener('click', function (event) {
                    var listingId = event.target.id.substring(6);
                    var url = '/board/track/' + listingId + '/';
                    axios
                        .post(url, null, {
                            headers: {
                                'X-CSRFToken': getCsrf(),
                            }
                        })
                        .then(function (res) {
                            if (res.status === 200) {
                                var message = '<em>' + res.data.message + '</em> now tracked on <a href="/">your applications</a>.';
                                document.getElementById('board-header-track').innerHTML = message;
                            }
                        })
                        .catch(function (err) {
                            console.log('Error tracking for listing id ' + listingId + '. Error: ' + err);
                            throw err;
                        });

                });
            }
        }

        init();
    </script>
{% endblock %}
