{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
    <div class="header extended">
        <div class="header-copy extended">
            <h1>Find your next software <span>job</span> position</h1>
        </div>
    </div>

    <div class="board">
        <div class="board-header">
            Tip: Click on the avocado on the left of each job to track it on your applications
        </div>
        {% for item in listings %}
            <div class="board-item">
                <div class="board-item-icon">
                    <img src="{% static '/main/images/avocado-icon.svg' %}" alt="avocado icon" width="30">
                </div>
                <div class="board-item-content">
                    <div class="board-item-content-title">
                        <strong>{{ item.role_title }}</strong> at {{ item.company_name }}
                    </div>
                    <div class="board-item-content-description">
                        <div class="board-item-content-description-location">{{ item.location }}</div>
                        <div class="board-item-content-description-salary">Salary: {{ item.salary }}</div>
                        <div class="board-item-content-description-tags">
                            <div class="board-item-content-description-tags-single">#backend</div>
                            <div class="board-item-content-description-tags-single">#b2b</div>
                            <div class="board-item-content-description-tags-single">#aws</div>
                        </div>
                    </div>
                </div>
                <div class="board-item-cta">
                    <a href="{{ item.application_link }}" class="board-item-cta-btn">
                        Apply&nbsp;
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="15">
                            <path d="M16 11v6a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h6M13 1h6v6M8 12L19 1" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
