{% extends 'main/layout.html' %}

{% load static %}
{% load app_filters %}

{% block content %}
    <div class="container-content-header">
        <div class="container-content-header-content">
            <h1>Post a job listing</h1>
        </div>
    </div>

    <div class="container-content-body">
        <h3>Create a listing</h3>
        <ul>
            <li>Posting a job listing is free of charge.</li>
            <li>It will appear on the site for 60 days.</li>
            <li>We will immediately publish it, and review it within 24 hours.</li>
        </ul>
        <br>
        <form action="{% url 'main:create' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="submit-item">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field|tabindex:forloop.counter }}
                    {% if field.help_text %}
                        <p class="submit-item-help">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="submit-button">
                <input type="submit" value="Submit">
            </div>
        </form>

        <footer>
            <p>Questions with the posting? Reach us <a href="mailto:hi@avocadojobs.com">here</a>.<p>
        </footer>
    </div>

    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script>
        // Disable 'role location' field if remote = true
        document.getElementById('id_role_remote').addEventListener('change', function (event) {
            if (event.target.checked) {
                document.getElementById('id_role_location').disabled = true;
                document.getElementById('id_role_location').placeholder = 'Remote';
            } else {
                document.getElementById('id_role_location').disabled = false;
                document.getElementById('id_role_location').placeholder = '';
            }
        });

        // Fix CKEditor width
        var ckeditorElems = document.getElementsByClassName('django-ckeditor-widget')
        var i = 0;
        for(i = 0; i < ckeditorElems.length; i++) {
            ckeditorElems[i].style.width = '75%';
        }
    </script>
{% endblock %}
