{% extends 'main/layout.html' %}

{% load static %}
{% load app_filters %}

{% block content %}
    <div class="container-content-header">
        <div class="container-content-header-content">
            <h1>Update listing for {{ listing.company_name }}</h1>
        </div>
    </div>

    <div class="container-content-body">
        <h3>Update listing</h3>
        <form action="{% url 'main:listing_edit' listing.id %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="submit-item">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field|tabindex:forloop.counter }}
                    {% if field.help_text %}
                        <p class="submit-item-help">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="submit-button">
                <input type="submit" value="Submit">
            </div>
        </form>

        <footer>
            <p>Questions with the posting? Reach us <a href="#">here</a>.
        </footer>
    </div>

    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script>
        var ckeditorElems = document.getElementsByClassName('django-ckeditor-widget')
        var i = 0;
        for(i = 0; i < ckeditorElems.length; i++) {
            ckeditorElems[i].style.width = '75%';
        }
    </script>
{% endblock %}
