{% extends 'main/layout.html' %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="back">
                <a href="{% url 'main:index' %}">&larr; Back to all jobs</a>
            </div>
            <div class="header">
                <h1>{{ listing.role_title }} <small>at <a href="{{ listing.company_link }}">{{ listing.company_name }}</a></small></h1>
                {% if listing.role_remote %}
                    <div>Remote</div>
                {% else %}
                    <div>{{ listing.get_role_type_display }}, out of {{ listing.role_location }}</div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="body">
            <h3>About the company</h3>
            {% if listing.company_image %}
                <div class="company">
                    <figure class="company-figure">
                        <img src="{{ listing.company_image }}" class="company-logo"
                            alt="company logo">
                        <figcaption>Based in {{ listing.company_base }}</figcaption>
                    </figure>
                </div>
            {% endif %}
            <p>
                <p>
                    {{ listing.company_desc|safe }}
                </p>
                {% if not listing.company_image %}
                    <p>{{ listing.company_name }} is based in {{ listing.company_base }}.</p>
                {% endif %}
            </p>
            <div class="details">
                <div class="details-single-wrapper">
                    <div class="details-single">
                        <span>Company size:</span> {{ listing.company_size }} person{{ listing.company_size|pluralize }}
                    </div>
                </div>
                <div class="details-single-wrapper">
                    <div class="details-single">
                        <span>Funding:</span> {{ listing.company_funding }}
                    </div>
                </div>
                <div class="details-single-wrapper">
                    <div class="details-single">
                        <span>Company stack:</span> {{ listing.company_tech }}
                    </div>
                </div>
            </div>
            <hr>
            <h3>About the role</h3>
            <p>
                {{ listing.role_desc|safe }}
            </p>
            <div class="details">
                <div class="details-single-wrapper">
                    <div class="details-single">
                        <span>Type:</span> {{ listing.get_role_type_display }}
                    </div>
                </div>
                <div class="details-single-wrapper">
                    <div class="details-single">
                        <span>Remote:</span> {{ listing.role_remote }}
                    </div>
                </div>
                <div class="details-single-wrapper">
                    <div class="details-single">
                        <span>Technologies for this role:</span> {{ listing.role_tech }}
                    </div>
                </div>
                <div class="details-single-wrapper">
                    <div class="details-single">
                        <span>Compensation:</span> {{ listing.role_compensation }}
                    </div>
                </div>
            </div>

        </div>

        <div class="apply">
            Apply at <a href="{{ listing.apply_link }}">{{ listing.apply_link }}</a>
        </div>

        <footer>
            <p>Anything wrong or sketchy with this listing? <a href="{% url 'main:report' listing.id %}">Let us know</a>.</p>
        </footer>
    </div>
{% endblock %}
