{% extends 'main/layout.html' %}

{% block content %}
    <div class="jumbotron-frontpage">
        <div class="container">
            <div class="title">
                <h1>Avocado</h1>
                <div class="separator"></div>
                <div class="subtitle">Software jobs board</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="body">
            <div class="categories">
                <div class="categories-single"><a href="#frontend">Frontend</a></div>
                <div class="categories-single"><a href="#backend">Backend</a></div>
                <div class="categories-single"><a href="#fullstack">Fullstack</a></div>
                <div class="categories-single"><a href="#devops">Devops</a></div>
                <div class="categories-single"><a href="#mobile">Mobile</a></div>
            </div>

            <hr>

            <div class="listings">
                <div class="listings-section">
                    <h2 id="frontend">Frontend jobs</h2>
                    {% for listing in listings_list %}
                        {% if listing.category == 'FE' %}
                            <a href="{% url 'main:detail' listing.id %}" class="listings-section-link">
                                <div class="listings-section-link-item">
                                    <strong>{{ listing.role_title }}</strong> <span class="muted">at</span> <span class="company-name">{{ listing.company_name }}</span>
                                    <div class="tags">
                                        <div class="tags-single">javascript</div>
                                        <div class="tags-single">react</div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="listings-section">
                    <h2 id="backend">Backend jobs</h2>
                    {% for listing in listings_list %}
                        {% if listing.category == 'BE' %}
                            <a href="{% url 'main:detail' listing.id %}" class="listings-section-link">
                                <div class="listings-section-link-item">
                                    <strong>{{ listing.role_title }}</strong> <span class="muted">at</span> <span class="company-name">{{ listing.company_name }}</span>
                                    <div class="tags">
                                        <div class="tags-single">javascript</div>
                                        <div class="tags-single">react</div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="listings-section">
                    <h2 id="fullstack">Fullstack jobs</h2>
                    {% for listing in listings_list %}
                        {% if listing.category == 'FS' %}
                            <a href="{% url 'main:detail' listing.id %}" class="listings-section-link">
                                <div class="listings-section-link-item">
                                    <strong>{{ listing.role_title }}</strong> <span class="muted">at</span> <span class="company-name">{{ listing.company_name }}</span>
                                    <div class="tags">
                                        <div class="tags-single">javascript</div>
                                        <div class="tags-single">react</div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="listings-section">
                    <h2 id="devops">Devops jobs</h2>
                    {% for listing in listings_list %}
                        {% if listing.category == 'DO' %}
                            <a href="{% url 'main:detail' listing.id %}" class="listings-section-link">
                                <div class="listings-section-link-item">
                                    <strong>{{ listing.role_title }}</strong> <span class="muted">at</span> <span class="company-name">{{ listing.company_name }}</span>
                                    <div class="tags">
                                        <div class="tags-single">javascript</div>
                                        <div class="tags-single">react</div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="listings-section">
                    <h2 id="mobile">Mobile jobs</h2>
                    {% for listing in listings_list %}
                        {% if listing.category == 'MB' %}
                            <a href="{% url 'main:detail' listing.id %}" class="listings-section-link">
                                <div class="listings-section-link-item">
                                    <strong>{{ listing.role_title }}</strong> <span class="muted">at</span> <span class="company-name">{{ listing.company_name }}</span>
                                    <div class="tags">
                                        <div class="tags-single">javascript</div>
                                        <div class="tags-single">react</div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

            <div class="post">
                Interested in posting a job listing? <a href="{% url 'main:submit' %}">&raquo; $299 for 30 days &laquo;</a>
            </div>

        </div>

        <footer>
            <p>Avocado Technologies, Inc. <a href="hi@avocadotech.com">Contact here.</a></p>
        </footer>
    </div>
{% endblock %}
