{% extends 'main/layout.html' %}

{% block content %}
    <div class="container">
        <div class="container-content">
            <div class="categories">
                <div class="categories-single"><a href="#frontend">Frontend</a></div>
                <div class="categories-single"><a href="#backend">Backend</a></div>
                <div class="categories-single"><a href="#fullstack">Fullstack</a></div>
                <div class="categories-single"><a href="#devops">Devops</a></div>
                <div class="categories-single"><a href="#mobile">Mobile</a></div>
            </div>

            <hr>

            <div class="listings">
                {% for category in categories %}
                    <h2 id="{{ category|lower }}">{{ category }} jobs</h2>
                     {% for listing in category.listing_set.all %}
                        <div class="listings-entry">
                            <div class="listings-entry-detail">
                                <div class="listings-entry-detail-info">
                                    <a class="listings-entry-detail-info-title"  href="{% url 'main:detail' listing.id %}" data-id="{{ listing.id }}">
                                        <strong>{{ listing.role_title }}</strong>
                                        <span class="muted">at</span>
                                        <span class="listings-entry-detail-info-title-company">{{ listing.company_name }}</span>
                                    </a>
                                    <div class="listings-entry-detail-info-tags">
                                        {% for tag in listing.tag_set.all %}
                                            <div class="listings-entry-detail-info-tags-single">{{ tag }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="listings-entry-control">
                                <div class="listings-entry-control-check" title="Dim out jobs you have applied" data-id="{{ listing.id }}">&#9702;</div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="empty">No job listings exist in this category.</div>
                    {% endfor %}
                {% empty %}
                    <div class="empty">No job listings exist :(</div>
                {% endfor %}
            </div>

            <div class="post">
                Interested in posting a job listing? <a href="{% url 'main:submit' %}">&raquo; $299 for 30 days &laquo;</a>
            </div>

        </div>

        <footer>
            <p>Avocado Technologies, Inc. <a href="hi@avocadotech.com">Contact here.</a></p>
        </footer>
    </div>
    <script>
        (function () {
            function renderDimmedElems() {
                var listingLinkElems = document.getElementsByClassName('listings-entry-detail-info-title');
                var keys = Object.keys(window.localStorage);
                var i = 0;
                for (i = 0; i < listingLinkElems.length; i++) {
                    keys.forEach(function (singleKey) {
                        if (singleKey === listingLinkElems[i].dataset.id) {
                            listingLinkElems[i].style.opacity = 0.2;
                        }
                    });
                }
            };

            function controlCheckListener(event) {
                var id = event.target.dataset.id;
                if (localStorage.getItem(id) === 'checked') {
                    document.querySelectorAll('a[data-id="' + id + '"')[0].style.opacity = 1;
                    localStorage.removeItem(event.target.dataset.id);
                } else {
                    localStorage.setItem(event.target.dataset.id, 'checked');
                }
                renderDimmedElems();
            }

            // add event listeners to bullet icons
            var controlCheckElems = document.getElementsByClassName('listings-entry-control-check');
            var i = 0;
            for (i = 0; i < controlCheckElems.length; i++) {
                controlCheckElems[i].addEventListener('click', controlCheckListener);
            }

            // initial dim rendering
            renderDimmedElems();
        })()
    </script>
{% endblock %}
