{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Avocado Jobs is a job application manager for developers.">

    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.avocadojobs.com/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://assets.avocadojobs.com/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://assets.avocadojobs.com/favicon-16x16.png">
    <link rel="manifest" href="https://assets.avocadojobs.com/manifest.json">
    <link rel="mask-icon" href="https://assets.avocadojobs.com/safari-pinned-tab.svg" color="#83bf33">
    <link rel="shortcut icon" href="https://assets.avocadojobs.com/favicon.ico">
    <meta name="msapplication-config" content="https://assets.avocadojobs.com/browserconfig.xml">
    <meta name="theme-color" content="#f2982c">

    <meta property="og:title" content="Avocado Jobs">
    <meta property="og:description" content="Avocado Jobs is a job application manager for developers.">
    <meta property="og:url" content="https://avocadojobs.com">
    <meta property="og:image" content="https://assets.avocadojobs.com/logo.png">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@sirodoht">
    <meta name="twitter:image" content="https://assets.avocadojobs.com/logo.png">

    <title>Avocado Jobs | Keep track of your job applications</title>

    <link rel="stylesheet" href="https://assets.avocadojobs.com/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Source+Sans+Pro" rel="stylesheet">

    {% if not user.is_authenticated %}
        <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    {% endif %}
</head>
<body>

    {% if request.path == '/' %}

        {% if user.is_authenticated %}
            {% csrf_token %}
            <script src="https://assets.avocadojobs.com/scripts/bundle-authed.js"></script>
        {% else %}
            <script src="https://assets.avocadojobs.com/scripts/bundle-nonauthed.js"></script>
        {% endif %}

    {% else %}

        <div class="nav">
            <div class="nav-header">
                <a href="/" class="nav-header-link" title="From the toast">
                    <img class="nav-header-link-icon" src="https://assets.avocadojobs.com/android-chrome-192x192.png" alt="logo">
                    <div class="nav-header-link-brand">Avocado Jobs</div>
                </a>
            </div>
            <div class="nav-links">
                <a href="/#add" class="nav-links-btn-nonjs">Add application</button>
                {% if user.is_authenticated %}
                    <a href="/logout/" class="nav-links-a-nonjs">Log out</a>
                {% else %}
                    <a href="/login/" class="nav-links-a-nonjs">Log in / Sign up</a>
                {% endif %}
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <footer>
            <div class="footer-body">
                <div class="footer-body-content">
                    <a href="/about/" title="About">About</a>
                    &nbsp;| <a href="mailto:hi@avocadojobs.com" title="Say hi!" target="_blank">Contact</a>
                    &nbsp;| <a href="https://twitter.com/AvocadoJobs" title="Or maybe hello?" target="_blank">Tweet</a>
                </div>
            </div>
        </footer>
    {% endif %}

</body>
</html>
