{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Avocado Jobs is a job application manager for developers.">

    <link rel="apple-touch-icon" sizes="180x180" href="/staticfiles/main/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/staticfiles/main/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/staticfiles/main/favicon-16x16.png">
    <link rel="manifest" href="/staticfiles/main/manifest.json">
    <link rel="mask-icon" href="/staticfiles/main/safari-pinned-tab.svg" color="#83bf33">
    <link rel="shortcut icon" href="/staticfiles/main/favicon.ico">
    <meta name="msapplication-config" content="/staticfiles/main/browserconfig.xml">
    <meta name="theme-color" content="#83bf33">

    <meta property="og:title" content="Avocado Jobs">
    <meta property="og:description" content="Avocado Jobs is a job application manager for developers.">
    <meta property="og:url" content="https://avocadojobs.com">
    <meta property="og:image" content="https://avocadojobs.com/staticfiles/main/logo.png">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@sirodoht">
    <meta name="twitter:title" content="Avocado Jobs">
    <meta name="twitter:description" content="Avocado Jobs is a job application manager for developers.">
    <meta name="twitter:image" content="https://avocadojobs.com/staticfiles/main/logo.png">

    <title>Avocado Jobs | Keep track of your job applications</title>

    <link rel="stylesheet" href="{% static '/main/styles/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Source+Sans+Pro" rel="stylesheet">
</head>
<body>
    <div class="nav">
        <div class="nav-header">
            <a href="/" class="nav-header-link">
                <img class="nav-header-link-icon" src="{% static '/main/android-chrome-192x192.png' %}" alt="logo">
                <div class="nav-header-link-brand">Avocado Jobs</div>
            </a>
        </div>
        <div class="nav-links">
            <button onclick="showAddApplication()" class="nav-links-btn">Add application</button>

            {% if user.is_authenticated %}
                <a href="{% url 'main:logout' %}">Log out</a>

                <!-- This is for js to check. Also it must be last because of first-child styling. -->
                <div class="hidden" id="user-authed"></div>
            {% else %}
                <a href="{% url 'main:login' %}">Log in / Sign up</a>
            {% endif %}
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-content">
            <p class="footer-content-para">Avocado Jobs. Contact <a href="mailto:hi@avocadojobs.com">here</a>. Thank you Vexels for the logo.</p>
        </div>
    </footer>

    {% if user.is_authenticated %}
        <script src="{% static '/main/scripts/superagent.min.js' %}"></script>
        <script src="{% static '/main/scripts/authed.js' %}"></script>
    {% else %}
        <script src="{% static '/main/scripts/non-authed.js' %}"></script>
    {% endif %}
</body>
</html>
