{% extends 'main/layout.html' %}

{% block content %}
    <div class="container-content-header">
        <div class="container-content-header-content">
            <h1>Log in</h1>
        </div>
    </div>

    <div class="container-content-body">
        {% if next %}
            {% if user.is_authenticated %}
                <p>
                    Your account doesn't have access to this page.
                    To proceed please login with an account that has access.
                </p>
            {% endif %}
        {% endif %}

        <p>
            To register or log in, just enter your email address below. You will
            receive an email with a link, which you can visit to log in.
        </p>

        <p>
            There is no username or password to remember, just your email address.
        </p>

        <p>
            The link will expire in a few hours, but you will stay logged in
            until you choose to log out. However, be careful not to share it,
            as it will allow anyone to log in to your account.
        </p>

        <form method="post" action="{% url 'main:auth' %}">
            {% csrf_token %}

            <input name="email" type="email" placeholder="Email">

            <input type="submit" value="Send link">
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        {% if messages %}
            <p class="alert">
                {% for message in messages %}
                    {{ message }}
                    <br>
                {% endfor %}
            </p>
        {% endif %}
    </div>
{% endblock %}
