{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
    <div class="container-content-header">
        <div class="container-content-header-content">
            <h1>{{ listing.role_title }} <small>at <a href="{{ listing.company_link }}">{{ listing.company_name }}</a></small></h1>
            {% if listing.role_remote %}
                <div class="container-content-header-content-subtitle">Remote</div>
            {% else %}
                <div class="container-content-header-content-subtitle">{{ listing.get_role_type_display }}, out of {{ listing.role_location }}</div>
            {% endif %}
        </div>
    </div>

    <div class="container-content-body">
        <h3>About the company</h3>
        {% if listing.company_image %}
            <div class="company">
                <figure class="company-figure">
                    <img src="{{ listing.company_image }}" class="company-logo" alt="company logo">
                    <figcaption>Based in {{ listing.company_base }}</figcaption>
                </figure>
            </div>
        {% endif %}
        <p>
            <p>
                {{ listing.company_desc|safe }}
            </p>
            {% if not listing.company_image %}
                <p>{{ listing.company_name }} is based in {{ listing.company_base }}.</p>
            {% endif %}
        </p>
        <div class="details">
            <div class="details-single">
                <div class="details-single-content">
                    <div class="details-single-content-title">Company size:</div> <div class="details-single-content-body">{{ listing.company_size }} person{{ listing.company_size|pluralize }}</div>
                </div>
            </div>
            <div class="details-single">
                <div class="details-single-content">
                    <div class="details-single-content-title">Funding:</div> <div class="details-single-content-body">{{ listing.company_funding }}</div>
                </div>
            </div>
            <div class="details-single">
                <div class="details-single-content">
                    <div class="details-single-content-title">Company stack:</div> <div class="details-single-content-body">{{ listing.company_tech }}</div>
                </div>
            </div>
        </div>
        <hr>
        <h3>About the role</h3>
        <p>
            {{ listing.role_desc|safe }}
        </p>
        <div class="details">
            <div class="details-single">
                <div class="details-single-content">
                    <div class="details-single-content-title">Type:</div> <div class="details-single-content-body">{{ listing.get_role_type_display }}</div>
                </div>
            </div>
            <div class="details-single">
                <div class="details-single-content">
                    <div class="details-single-content-title">Remote:</div> <div class="details-single-content-body">{{ listing.role_remote }}</div>
                </div>
            </div>
            <div class="details-single">
                <div class="details-single-content">
                    <div class="details-single-content-title">Technologies for this role:</div> <div class="details-single-content-body">{{ listing.role_tech }}</div>
                </div>
            </div>
            <div class="details-single">
                <div class="details-single-content">
                    <div class="details-single-content-title">Compensation:</div> <div class="details-single-content-body">{{ listing.role_compensation }}</div>
                </div>
            </div>
        </div>

        <div class="apply">
            Apply at <a href="{{ listing.apply_link }}">{{ listing.apply_link }}</a>
        </div>

        <hr>

        <div class="confirm">
            <ul>
                <li>This is a preview of how your listing. If you are not satisfied with it you can go back and edit it.</li>
                <li>Once you confirm the listing will be published live on the website.</li>
            </ul>
            <br>
            <div class="confirm-controls">
                <a class="btn-secondary" href="{% url 'main:listing_edit' listing.id %}">Edit</a>
                <a class="btn-primary" href="{% url 'main:submit_thank' listing.id %}">Confirm</a>
            </div>
        </div>

        <footer>
            <p>Questions with the posting? Reach us <a href="mailto:hi@avocadojobs.com">here</a>.
        </footer>
    </div>
{% endblock %}
