{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quality job listings for software people</title>

    <link rel="stylesheet" href="https://gitcdn.xyz/repo/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="{% static '/main/style.css' %}"> </head>

<body>
    <div class="jumbotron">
        <div class="container">
            <div class="back">
                <a href="{% url 'main:index' %}">&larr; Back to Avocado Jobs</a>
            </div>
            <div class="header">
                <h1>Post a job</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="body">
            <h3>Create a listing</h3>
            <form action="{% url 'main:submit' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="submit-item">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                            <p class="submit-item-help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="submit-button">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>

        <footer>
            <p>Questions with the posting? Reach us <a href="#">here</a>.
        </footer>
    </div>
</body>

</html>
