{% extends 'main/layout.html' %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="back">
                <a href="{% url 'main:index' %}">&larr; Back to Avocado Jobs</a>
            </div>
            <div class="header">
                <h1>Job posted!</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="body">
            <h1>Thank you</h3>
            <p>
                Your job posting is live! You can see it <a href="{% url 'main:detail' listing_id %}">here</a>.
            </p>
        </div>

        <footer>
            <p>Questions with the posting? Reach us <a href="#">here</a>.
        </footer>
    </div>
{% endblock %}
